<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
    <H1> registration Sucess ..
        <br>
        we will contact you soon 
    </H1>
    <form action="/" method="get">
    <button type="submit">Go to home page</button>
    </form>
    </script>
</body>
</html>
